@import "colors";

.divider-1 {
  border: 3px solid @divider-color-default;
  background-color: @divider-color-default;
  border-radius: 5px;
  width: 150px;
}

.divider-2 {
  border: 3px solid @divider-color-default;
  background-color: @divider-color-default;
  border-radius: 5px;
  width: 150px;
}

.default-background {
  background-color: @color-grey;
}

.white-background {
  background-color: @color-white;
}

.icon {
  padding-right: 32px;
}